<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Learning Journal</title>
</head>
<body>
  <header>
    <a href="index.html"><h1>Learning Journal</h1></a>
    <section class="border"></section>
    </header>
      <main>
        <form>
          <label>
            <input class="input_post_title" type="text" placeholder="Article title" required>
          </label>
          <textarea class="text_area" rows="8" cols="40" placeholder="Enter article here" required></textarea>
          <button type="submit">Create New</button>
        </form>
    </main>
    <footer>
      <p>There should probably be an inspirational quote here. Consider yourself inspired.</p>
    </footer>
</body>
</html>